Repository davidjerleke/embla-carousel, pull requests merged in 2024-11, with the labels that each got.

#1054 [Feat]: Trigger event (autoplay:select) on autoplay index update
  packages/embla-carousel-autoplay/src/components/Autoplay.ts
  packages/embla-carousel-docs/src/content/pages/plugins/autoplay.mdx
Labels: feature request, plugin, APPROVED 👍

#1057 [Feat]: Give animation variables more descriptive names and round rendered position
  packages/embla-carousel/src/__tests__/loop-ltr.test.ts
  packages/embla-carousel/src/__tests__/loop-rtl.test.ts
  packages/embla-carousel/src/__tests__/loop-vertical.test.ts
  packages/embla-carousel/src/components/Animations.ts
  packages/embla-carousel/src/components/Engine.ts
  packages/embla-carousel/src/components/ScrollBody.ts
  packages/embla-carousel/src/components/Translate.ts
  packages/embla-carousel/src/components/utils.ts
Labels: feature request, core

#1061 [Feat]: ClassNames plugin - Add possibility to pass an array of strings and add a loop option
  packages/embla-carousel-class-names/src/components/ClassNames.ts
  packages/embla-carousel-class-names/src/components/Options.ts
  packages/embla-carousel-class-names/src/components/utils.ts
  packages/embla-carousel-docs/src/content/pages/plugins/class-names.mdx
Labels: feature request, plugin

#1062 [Feat]: Autoplay - Delay between transitions per slide + Possibility to create a progress bar
  packages/embla-carousel-auto-scroll/src/components/AutoScroll.ts
  packages/embla-carousel-auto-scroll/src/components/Options.ts
  packages/embla-carousel-auto-scroll/src/components/utils.ts
  packages/embla-carousel-autoplay/src/components/Autoplay.ts
  packages/embla-carousel-autoplay/src/components/Options.ts
  packages/embla-carousel-autoplay/src/components/utils.ts
  packages/embla-carousel-docs/gatsby-ssr.tsx
  packages/embla-carousel-docs/src/components/Examples/examplesCarouselStyles.ts
  packages/embla-carousel-docs/src/components/LoadSpinner/LoadSpinnerSuspense.tsx
  packages/embla-carousel-docs/src/components/Routes/RoutesLoading.tsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/Autoplay/EmblaCarousel.jsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/Autoplay/EmblaCarousel.tsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/Autoplay/EmblaCarouselAutoplay.jsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/Autoplay/EmblaCarouselAutoplay.tsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/Autoplay/EmblaCarouselAutoplayProgress.jsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/Autoplay/EmblaCarouselAutoplayProgress.tsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/ClassNames/EmblaCarousel.jsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/ClassNames/EmblaCarousel.tsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesSrc/Autoplay/EmblaCarousel.tsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesSrc/Autoplay/EmblaCarouselAutoplay.tsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesSrc/Autoplay/EmblaCarouselAutoplayProgress.tsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesSrc/ClassNames/EmblaCarousel.tsx
  packages/embla-carousel-docs/src/components/Sandbox/Vanilla/SandboxFilesDist/Autoplay/EmblaCarousel.js
  packages/embla-carousel-docs/src/components/Sandbox/Vanilla/SandboxFilesDist/Autoplay/EmblaCarousel.ts
  packages/embla-carousel-docs/src/components/Sandbox/Vanilla/SandboxFilesDist/Autoplay/EmblaCarouselAutoplayProgress.js
  packages/embla-carousel-docs/src/components/Sandbox/Vanilla/SandboxFilesDist/Autoplay/EmblaCarouselAutoplayProgress.ts
  packages/embla-carousel-docs/src/components/Sandbox/Vanilla/SandboxFilesSrc/Autoplay/EmblaCarousel.ts
  packages/embla-carousel-docs/src/components/Sandbox/Vanilla/SandboxFilesSrc/Autoplay/EmblaCarouselAutoplayProgress.ts
  packages/embla-carousel-docs/src/content/pages/plugins/autoplay.mdx
  playgrounds/embla-carousel-playground-vanilla/src/main.ts
Labels: feature request, resolved, plugin

#1065 [Bug]: RangeError Maximum call stack size exceeded
  packages/embla-carousel/src/components/Animations.ts
Labels: bug
