Repository davidjerleke/embla-carousel, pull requests merged in 2024-07, with the labels that each got.

#929 refactor(vue): optimize reactivity handling and reduce bundle size
  packages/embla-carousel-vue/src/components/emblaCarouselVue.ts
Labels: vue

#933 [Bug]: Add interpolation to fixed time step to improve animation smoothness
  packages/embla-carousel-auto-scroll/src/components/AutoScroll.ts
  packages/embla-carousel-docs/src/components/Examples/examplesCarouselStyles.ts
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/InfiniteScroll/EmblaCarousel.jsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesDist/InfiniteScroll/EmblaCarousel.tsx
  packages/embla-carousel-docs/src/components/Sandbox/React/SandboxFilesSrc/InfiniteScroll/EmblaCarousel.tsx
  packages/embla-carousel-docs/src/components/Sandbox/Vanilla/SandboxFilesDist/InfiniteScroll/EmblaCarouselInfiniteScroll.js
  packages/embla-carousel-docs/src/components/Sandbox/Vanilla/SandboxFilesDist/InfiniteScroll/EmblaCarouselInfiniteScroll.ts
  packages/embla-carousel-docs/src/components/Sandbox/Vanilla/SandboxFilesSrc/InfiniteScroll/EmblaCarouselInfiniteScroll.ts
  packages/embla-carousel-docs/src/content/pages/api/events.mdx
  packages/embla-carousel-docs/src/content/pages/api/methods.mdx
  packages/embla-carousel-fade/src/components/Fade.ts
  packages/embla-carousel/src/__tests__/loop-ltr.test.ts
  packages/embla-carousel/src/__tests__/scrollBounds-ltr.test.ts
  packages/embla-carousel/src/__tests__/scrollBounds-rtl.test.ts
  packages/embla-carousel/src/__tests__/scrollBounds-vertical.test.ts
  packages/embla-carousel/src/components/Animations.ts
  packages/embla-carousel/src/components/Engine.ts
  packages/embla-carousel/src/components/ScrollBody.ts
  packages/embla-carousel/src/components/ScrollTo.ts
  playgrounds/embla-carousel-playground-vanilla/src/main.ts
Labels: bug, core

#947 fix(react): export EmblaViewportRefType from bundle
  packages/embla-carousel-react/src/components/useEmblaCarousel.ts
  packages/embla-carousel-react/src/index.ts
Labels: feature request, resolved, react, typescript

#961 [Bug]: Jitter on resize when not on first image
  packages/embla-carousel/src/components/ResizeHandler.ts
Labels: bug, core
